* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: roboto, "zen kaku gothic antique", sans-serif;
}

.inputContainer {
    max-width: 22rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 55px 50px 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: lighter;
    font-family: "Google Sans";
}

.use {
    font-weight: lighter;
}

input::placeholder {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
}

.gInput {
    width: 100%;
    height: 3.5rem;
    margin-top: 50px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 15px;
    background-color: none;
    outline: none;
    box-sizing: border-box;
}

.gInput:focus {
    border: 2px solid #4285f4;
}

.gInput:focus~.inputLabel:before {
    color: #4285f4;
    font-size: 12px;
    top: -65px;
    z-index: 1;
}

.inputLabel {
    position: relative;
    display: block;
    width: 100%;
}

input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.inputLabel:before {
    content: "Introduce tu contraseña";
    position: relative;
    top: -25px;
    left: 10px;
    background-color: white;
    font-size: 18px;
    z-index: -1;
    font-weight: lighter;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.forgotContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.guest {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 13px;
    font-weight: lighter;
}

span {
    font-weight: bold;
}

.masInfo:hover {
    box-shadow: 0 1px 1px 0 rgba(66, 133, 244, .45), 0 1px 3px 1px rgba(66, 133, 244, .3);
    margin: 0 -3px;
    padding: 0 3px;
    border-radius: 4px;
    outline: 0;
    font-weight: bold;
    color: #1a73e8;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btnCreate {
    position: relative;
    margin-left: -14px;
}

.buttonContainer a {
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
}

.buttonContainer a.btnNext {
    background-color: #1a73e8;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttonContainer a.btnNext:hover {
    background-color: #1b66c9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonContainer a.btnNext button {
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.buttonContainer a.btnNext button:hover {
    box-shadow: none;
}

.btnCreate:hover {
    color: #366fca;
    background-color: #f6f9fe;
}

.btnNext {
    font-family: "Google Sans";
    background-color: #1a73e8;
    color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-weight: 500;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
    display: inline-block;
    margin: 0;
    border: none;
}

.btnNext:hover {
    background-color: #1b66c9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

.btnNext a {
    color: inherit;
    text-decoration: none;
}

.btnNext button {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.forgot,
.guest span,
.btnCreate {
    color: #4285f4;
    font-weight: bold;
}

.guest,
.inputLabel:before {
    color: #5f6368;
}


.checkbox-container {
    position: relative;
    bottom: 10px;
    left: 5px;
}

.checkbox-container label {
    font-size: 14px;
    color: #000;
    margin-left: 8px;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}